.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
  font-size: 14px;
  resize: vertical; /* Позволяет изменять высоту текстовой области */
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #f7f7f7;
}

.deleteTagButton {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.addTagContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addTagButton {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  margin-bottom: 20px;
  font-size: 14px;
}

