.signUpForm {
  font-family: 'Roboto', sans-serif;
  max-width: 384px;
  margin: 0 auto;
  margin-top: 59px;
  padding: 48px 41px 48px 32px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(38, 38, 38);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}

input[type='email'],
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: rgb(191, 191, 191);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

input:disabled {
  background-color: #e0e0e0;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

.errorBorder[type=email], .errorBorder[type=text], .errorBorder[type=password] {
  box-sizing: border-box;
  border: 1px solid rgb(245, 34, 45);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.checkboxLabel {
  color: #f50202;
}

.checkboxLabel label {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  color: rgb(89, 89, 89);
}

.checkboxLabel input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(24, 144, 255);
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  position: relative;

}

.checkboxLabel input[type="checkbox"]:checked {
  background-color: rgb(24, 144, 255);
  border-color: rgb(24, 144, 255);
}

.checkboxLabel input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.footer {
  padding-top: 8px;
  color: rgb(140, 140, 140);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;

  .link {
    color: rgb(24, 144, 255);
    text-decoration: none;
    &:hover {
      color: rgb(24, 144, 255);
    }
  }
}
